/src/Makefile
/test/Makefile
/test/*.test
/test/*.exe
/doc/*.html
/release.tmp
/__vic-*-src.tar.gz
*.o
*.a
*.d
*.obj
*.lib
*.exe

# precompiled modules
/tests/gcm.cache/std.gcm
/tests/gcm.cache/__vic.gcm
/tests/std.pcm
/tests/__vic.pcm
/tests/std.ifc
/tests/__vic.ifc
