/src/Makefile
/test/Makefile
/test/*.test
/test/*.exe
/doc/*.html
/release.tmp
/__vic-*-src.tar.gz
*.o
*.a
*.d
*.obj
*.lib
*.exe

# precompiled modules
/test/gcm.cache/
/test/std.pcm
/test/__vic.pcm
/test/std.ifc
/test/__vic.ifc
